#prog

In [0]:
"""Al programes."""

# ***********multiplication matrix *************

# a = [[1, 2, 3], [4, 5, 6],[1,2,3]]
# b = [[7, 8], [9, 10],[11, 12]]
# print(c)

# a = [[1, 1, 1], [1, 1, 1], [1, 1, 1], [1, 1, 1]]
# b = [[1, 0, 0], [0, 1, 0], [0 ,0, 1]]

# if(len(a[0])==len(b)):
#   m = [[0 for x in range(len(b[0]))] for y in range(len(a))]
#   print(m)
#   for i in range(len(a)):
#       for j in range(len(b[0])):
#           for k in range(len(b)):
#               m[i][j]+=a[i][k]*b[k][j]
#   for matrix in m:
#       print(matrix)
# else:
#   print("rows 1 and column 2 is not matching")

# ------------------------------------------


# ************ palidrome************

# user_input = input().lower().strip()
# if user_input[::-1] == user_input:
#   print("\n Its Palidrome")
# else:
#   print("\n Its not Palidrome")


# -----------------------------------------

# ************sub palidrome************

# user_input=input("enter string ").lower().strip()

# for i in range(len(user_input)):
#   result=''
#   for j in range(i,len(user_input)):
#       result+=user_input[j]
#       if len(result) >= 2 and result==result[::-1]:
#           print(result,"this is palidrome")


# -------------------------------------------------


# ********* determinate of matrix 2*2 *************

# def det(a):
#   result = (a[0][0] * a[1][1]) - (a[0][1]*a[1][0])
#   print(result)
#   return result
# det([[2,3],[2,4]])

# --------------------------------------------------

# ********* determinant of matrix 3*3 *************
# def det(l):
#     """Function to calculate a determinant."""
#     n = len(l)
#     if (n > 2):
#         flag = 1
#         t = 0
#         total = 0
#         while t <= n - 1:
#             d = {}
#             t1 = 1
#             while t1 <= n - 1:
#                 m = 0
#                 d[t1] = []
#                 while m <= n - 1:
#                     if (m == t):
#                         pass
#                     else:
#                         d[t1].append(l[t1][m])  # d = {1 : [4, 5 ,6]}
#                     m += 1
#                 t1 += 1
#             l1 = [d[x] for x in d]
#             total = total + flag * (l[0][t] * det(l1))
#             flag = flag * (-1)
#             t += 1
#         return total
#     else:
#         return (l[0][0] * l[1][1]) - (l[0][1] * l[1][0])

# l = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# l1 = [[6, 1, 1], [1, 1, 1], [1, 1, 1]]

# l2 = [[6, 1, 1], [4, -2, 5], [2, 8, 7]]

# print(det(l2))


# ------------------------------------------------------

# **print number if number is greater or equal to 25****.

# l=[x for x in range(1,101)]
# print(l)
# user_input=int(input("enter a number: "))
# if user_input >= 25:
#   print(l[24:])
# else:
#   print("do nothing")


# ----------------------------------------------------------

# ********* see that the multiples is in list 2 or not ********************

# l1=[x*y for x in range(1,11) for y in range(1,11)]
# l = [x for x in range(1,11)]
# l1 = [i for i in range(11,101)]
# l = [l[x]*l[y] for x in range(len(l)) for y in range(len(l)) if l[x]*l[y] in l1]
# print(l)


# ------------------------------------------------------------


# ************ to check when a person turns what will be the year when he turns 100
# import datetime
# age =float (input("enter age: "))
# age=int(age)
# name = input("enter name: ")
# if age < 0:
#   print("wrong value ")

# else:
#   diff = 100 - (age)
#   current_format = datetime.datetime.now()
#   current_year = current_format.year
#   when_100 = diff+current_year
#   print(when_100," is the year when user turns 100")
# ----------------------------------------------------------------


# ************** divisor **************
# user_input=int(input("enter number="))
# list=[]
# for r in range (1,user_input+1):
#   if user_input % r  == 0:
#       list.append(r)
# for m in list :
# #     print(m)


# -----------------------------------------------


# ************fibonacci of user's no**************
# def fibo(user_input):
#     """Fibonaci series."""
#     if user_input < 2:
#         return user_input
#     else:
#         return(fibo(user_input - 1) + fibo(user_input - 2))
# user_input = int(input("enter no:"))
# print("fibonacci series")
# for i in range(user_input):
#     print(fibo(i))


#  -----------------------------------------------

#files

In [0]:
"""Reads and writes files."""
import os
import random
import string
from logzero import logger


def create_file(base_path):
    """Function to create file."""
    if not os.path.exists(base_path):
        os.makedirs(folder_path)
        logger.info("new folder created")


def write_functions(folder_path):
    """Function is used to write."""
    items = [x for x in range(1, 11)]
    size = 0
    for x in items:
        file_path = folder_path + "/{}.file.txt".format(x)
        with open(file_path, "w")as f:
            size = size + 24
            r_char = ''.join([random.choice(string.ascii_letters) for n in range(size)])
            f.write("{}".format(r_char))
    return r_char


# def read_functions(folder_path):
#     """Function is used to read."""
#     for file in os.listdir(folder_path):
#         file_path = os.path.join(folder_path, file)
#         with open(file_path, 'r') as f:
#             f_content = f.read()
#             f_size = os.path.getsize(file_path)
#             f_name, f_ext = os.path.splitext(f)
#             f_srno, f_name = f_name.split('.')
#             logger.info('{} | {} | {} | {}'.format(f_srno, f_name, f_content, f_size))


def read_functions(folder_path):
    """Function to read the files."""
    count = 0
    print('{} | {} | {} | {}'.format('Sr No.', 'File name', 'Content', 'Size'))
    for file in os.listdir(folder_path):
        count += 1
        file_path = os.path.join(folder_path, file)
        with open(file_path, 'r') as f:
            f_size = os.path.getsize(file_path)
            print('{} | {} | {} | {}'.format(count, file, f.read(), f_size))


base_path = os.getcwd()
folder_path = base_path + '/newfolder3'
create_file(folder_path)
write_functions(folder_path)
read_functions(folder_path)

#random

In [0]:
"""Cowbull program.""" 
import pdb
import random
def cowbull(): 
  """Cow Bull game."""
  user_lenght = int(input("enter lenght:\t")) 
  cow = 0 
  bull = 0 
  random_no = [random.randrange(0, 9) for x in range(user_lenght)] 
  print("enter no. of digits") 
  guesses = [int(x) for x in input("enter user_lenght digit no. \t").strip()]
  print(guesses) 
 
  for i in range(user_lenght): 
    if guesses[i] == random_no[i]: 
      cow += 1 
    else: 
      bull += 1

# comparing cow and bulls
  if cow > bull:
    print("you won")
  else:
    print("you lose")
    print(random_no)
cowbull()

#employee

In [0]:
def employee(num):
    """Function of Employee class."""
    employees = []
    for i in range(num):
      emp = {'name': input("enter the name:\t "),'tenure': int(input("enter tenure:\t")),'designation': input("enter designation:\t"),'salary': int(input("enter salary:\t"))}
      employees.append(emp)
      print("\n")
    user_designation=input("enter to check avg salary of particular designation:")
    total = [i['salary']  for i in employees if i['designation'] == user_designation]
    
    print("Avg salary of {} is {}".format(user_designation, sum(total) / len (total)))
    
    print("Minimum salary of:", min(employees, key = lambda x : x['salary']))
    
    print("maximum salary of employee", max(employees, key=lambda x : x['salary']))

employee(int(input("Enter the number of employees \t")))

#insertion sort

In [0]:
def insertion_sort(l):
  count = 0
  for index in range(1,len(l)):
#     print('index {}'.format(index))
    temp = l[index]
    position = index - 1
#     print('position {}'.format(position))
    while position >=0 and temp < l[position]:
      l[position+1] = l[position]
      position = position - 1
#       print('position inside while {}'.format(position))
    l[position+1] = temp
  return l, count

print(insertion_sort([9,8,7, 6, 5, 4, 3, 2, 1]))

([1, 2, 3, 4, 5, 6, 7, 8, 9], 44)

# employees data 2

In [0]:
# sort as per salary min - max 
# sort as per company

"""
[ {"google": {"emp1": {"salary": 1, "designation" : "coder" }, "emp2": {"salary": 1, "designation" : "coder" }, "emp3": {"salary": 1, "designation" : "coder" }} }, 
  {"ms": {"emp1": {"salary": 1, "designation" : "coder" }, "emp2": {"salary": 1, "designation" : "coder" }, "emp3": {"salary": 1, "designation" : "coder" }} }

]

"""
d = [{'google':{'emp1': {'salary':10000, 'designation':'Coder'},'emp2': {'salary':20000, 'designation':'Tester'},'emp3': {'salary':30000, 'designation':'Developer'} } }, {'Microsoft':{'emp1': {'salary':20000, 'designation':'Hr'},'emp2': {'salary':10000, 'designation':'accountant'},'emp3': {'salary':5000, 'designation':'Clerk'} } }, {'Adobe':{'emp1': {'salary':25000, 'designation':'Project manager'},'emp2': {'salary':30000, 'designation':'Manager'},'emp3': {'salary':50000, 'designation':'M.D'} } }]
import pprint

pprint.pprint(d)


company = {
    'google': {},
    'microsoft': {},
    'adobe': {}
    
}

In [0]:
import pprint
comp_dets ={
    'google': {
        'emp1': {'designation': 'coder', 'salary': 50000},
        'emp2': {'designation': 'developer', 'salary': 20000},
        'emp3': {'designation': 'tester', 'salary': 30000}
        }, 
    'adobe': {
        'emp1': {'designation': 'hr', 'salary': 20000},
        'emp2': {'designation': 'clerk', 'salary': 5000},
        'emp3': {'designation': 'accountant', 'salary': 15000}
          },
    'microsoft': {
        'emp1': {'designation': 'manager', 'salary': 60000},
        'emp2': {'designation': 'project manager', 'salary': 55000},
        'emp3': {'designation': 'director', 'salary': 45000}
          }
    }
# pprint.pprint(comp_dets)
# for company in comp_dets:
#   for emp in comp_dets[company]:
#     print(comp_dets[company][emp]['salary'], comp_dets[company][emp]['designation'])
max_sal = max([comp_dets[c][emp]['salary'] for c in comp_dets for emp in comp_dets[c]])
[(c , comp_dets[c][emp]) for c in comp_dets for emp in comp_dets[c] if comp_dets[c][emp]['salary'] == max_sal]



expected_output1 = {
    'adobe': {},
    'google': {},
    'microsft': {}
}

expected_output2 = [
    {'emp1' : {'company': 'microsoft', 'salary': 60000}},
    {'emp2' : {'company': 'microsoft', 'salary': 55000}},
    {'emp1' : {'company': 'google', 'salary': 50000}},
    
]

# sort using selection sort

In [0]:
l = [2, 1, 3, 4, 6, 9, 1, 55, 7]

for -> i:
  select max_j = i
  while <condition>
    swap
    j -= 1

#sort using selection sort

In [0]:
def selectionSort(alist):
   for fillslot in range(len(alist)-1,0,-1):
       positionOfMax=0
       for location in range(1,fillslot+1):
           if alist[location]>alist[positionOfMax]:
               positionOfMax = location

       temp = alist[fillslot]
       alist[fillslot] = alist[positionOfMax]
       alist[positionOfMax] = temp


alist=[14,10,33,27,19,35,44]
selectionSort(alist)
print(alist)

[10, 14, 19, 27, 33, 35, 44]

# sorting using gnome sorting

In [0]:
def gnome(alist):
		for i in range(1,len(alist)):
			while i!=0 and alist[i] <= alist[i-1]:
				alist[i],alist[i-1] = alist[i-1], alist[i]
        print(alist[i],alist[i-1])
				i -=1
alist = [34,2,10,-9,27,97]
gnome(alist)
print("Sorted list: ",alist)

# sorting using gnome sorting

In [0]:
l = [2, 1, 3, 4, 6, 9, 1, 55, 7]

for i -> l:
  assing j = i operation 
  while <condition>:
    if <condition>:
      j += 1
    else:
      j -= 1

# Regular expressions

In [0]:
s = """

My name is akson. my birthday is on 01/01/1990, my graduation day is on 01-07-12,  my wedding anniversary is on 01.01.2016, my child's birthday 
is on 01-jan-19

"""

extract all dates

#regular experssion

In [0]:
import re
import datetime
from datetime import date
s = 'my birthday is on 01/01/1990'
s2 ='my graduation day is on 01-07-12'  
s3 = 'my wedding anniversary is on 01.01.2016'
s4 = ' 01-jan-19'
match = re.findall(r'[\d]{1,2}/[\d]{1,2}/[\d]{4}',s)
match1 = re.findall(r'[\d]{1,2}-[\d]{1,2}-[\d]{2}',s2)
match2 = re.findall(r'[\d]{1,2}.[\d]{1,2}.[\d]{4}',s3)
match3 = re.findall(r"([0-9]{1,2}\-[a-z]{3}\-[0-9]{1,2})", s4)
print(match)
print(match1)
print(match2)
print(match3)

['01/01/1990']
['01-07-12']
['01.01.2016']
['01-jan-19']

#employee2

In [0]:
def company():
    alist = []
    comp_dets ={
    'google': {
        'emp1': {'designation': 'coder', 'salary': 50000},
        'emp2': {'designation': 'developer', 'salary': 20000},
        'emp3': {'designation': 'tester', 'salary': 30000}
        }, 
    'adobe': {
        'emp1': {'designation': 'hr', 'salary': 23000},
        'emp2': {'designation': 'clerk', 'salary': 5000},
        'emp3': {'designation': 'accountant', 'salary': 15000}
          },
    'microsoft': {
        'emp1': {'designation': 'manager', 'salary': 60000},
        'emp2': {'designation': 'project manager', 'salary': 55000},
        'emp3': {'designation': 'director', 'salary': 45000}
          }
    }



    alist = [(c ,emp, comp_dets[c][emp]) for c in comp_dets for emp in comp_dets[c]]
    print(alist)
    print("\n")
   
    print("Name wised  company: ",sorted(comp_dets))
    '''Maximum salary'''
    max_sal = max([comp_dets[c][emp]['salary'] for c in comp_dets for emp in comp_dets[c]])
    max_cmp = [(c , comp_dets[c][emp]) for c in comp_dets for emp in comp_dets[c] if comp_dets[c][emp]['salary'] == max_sal]
    print("\nmaximum salary :",max_cmp)
    print("\n")

    '''Minimum salary'''
    min_sal = min([comp_dets[cd][em]['salary'] for cd in comp_dets for em in comp_dets[cd]]) 
    min_cmp = [(cd , comp_dets[cd][em]) for cd in comp_dets for em in comp_dets[cd] if comp_dets[cd][em]['salary'] == min_sal]
    print("Minimum salary",min_cmp)
    print("\n")
    '''sorting'''
    
    sort_sal = sorted([comp_dets[c][emp]['salary'] for c in comp_dets for emp in comp_dets[c]],reverse=True)

    
    for i in sort_sal:
        sort_cmp = ([(c,emp,comp_dets[c][emp]['salary']) for c in comp_dets for emp in comp_dets[c] if  comp_dets[c][emp]['salary'] == i ] )
        print(sort_cmp)
company()

[('google', 'emp1', {'designation': 'coder', 'salary': 50000}), ('google', 'emp2', {'designation': 'developer', 'salary': 20000}), ('google', 'emp3', {'designation': 'tester', 'salary': 30000}), ('adobe', 'emp1', {'designation': 'hr', 'salary': 23000}), ('adobe', 'emp2', {'designation': 'clerk', 'salary': 5000}), ('adobe', 'emp3', {'designation': 'accountant', 'salary': 15000}), ('microsoft', 'emp1', {'designation': 'manager', 'salary': 60000}), ('microsoft', 'emp2', {'designation': 'project manager', 'salary': 55000}), ('microsoft', 'emp3', {'designation': 'director', 'salary': 45000})]


Name wised  company:  ['adobe', 'google', 'microsoft']

maximum salary : [('microsoft', {'designation': 'manager', 'salary': 60000})]


Minimum salary [('adobe', {'designation': 'clerk', 'salary': 5000})]


[('microsoft', 'emp1', 60000)]
[('microsoft', 'emp2', 55000)]
[('google', 'emp1', 50000)]
[('microsoft', 'emp3', 45000)]
[('google', 'emp3', 30000)]
[('adobe', 'emp1', 23000)]
[('google', 'emp2', 20000)]
[('adobe', 'emp3', 15000)]
[('adobe', 'emp2', 5000)]

In [0]:
s1 = 'janvi'
s2 = 'january'
set1 = set(s1)
set2 = set(s2)

set1, set2

({'a', 'i', 'j', 'n', 'v'}, {'a', 'j', 'n', 'r', 'u', 'y'})

In [0]:
diff = set2 - set1

In [0]:
import string
d = dict.fromkeys(string.ascii_lowercase, 0)

In [0]:
tmp = s1[:]
tmp

'janvi'

False

In [0]:
# set(s2) - set(s1), len(s2) - len(t)
t = []
ins = 0
for i in s2:
  if i in s1:
    t.append(i)
diff = len(s2) - len(t)
# diff, set(s2) - set(s1), s2, t
set(s2).difference(set(s1)), set(s1).difference(set(s2)), set(s1).intersection(set(s2))

({'r', 'u', 'y'}, {'i', 'v'}, {'a', 'j', 'n'})

In [0]:
# def src_dest(src, dest):
  

t = []
ins = 0
for i in s2:
  if i in s1:
    t.append(i)
diff = len(s2) - len(t)
for i in range(diff):
  t.append('0')
  ins += 1
subs = ins - set(s2) - set(s1) 
if len(t) == len(s2):
  for i in range(len(s2)):
    if t[i] == s2[i]:
      pass
    else:
      out = t[i]
      t[i] = s2[i]
      for j in range(len(s2[i:])):
        if out == s2[i + j]:
          t[i+j] = out
''.join(t)

In [0]:
same_t = []
for i in range(len(tmp)):
  if tmp[i] == s2[i]:
    t.append(tmp[i])
  else:
    t.append(s2[i])
t

['j', 'a', 'n', 'a', 'j', 'a', 'n', 'u', 'a']

#source to destination

In [0]:
def src_dest(str1,str2):
	set1 = set(str1)
	set2 = set(str2)
	print(set1,set2) 
	temp = str1[:] 
	t = []
	for i in str2:
		if i in str2:
			t.append
		diff = len(str2)-len(t)
	for i in range(diff):
		t.append('0')
	if len(t) == len(str2):
		for i in range(len(str2)):
			if t[i] ==str2[i]:
				pass
			else:
				out = t[i]
				t[i] = str2[i]
				for  j in range(len(str2[i:])):
					if out ==str2[i+j]:
						t[i+j] =out
	print(''.join(t))

	if t == str2:
    i = len(str1)-len(set1.intersection(set2))
    d = len(str1) - i
    s = len(str2) -len(str1)-i
    print("insertion",i)
    print("deletion",d)
    print("substitution",s)
	
src_dest('april','aprilia')