# 1.Creating DataFrames

In [0]:
import pandas as pd
data ={'Country': ['Belgium','India','Brazil'],
      'Capital':['Brussels','New Delhi','Brasalia'],
      'Population':[11190846,1303171035,207847528]}
df = pd.DataFrame(data,columns=['Country','Capital','Population'])

# 2. I/O

In [0]:
import pandas as pd
# data ={'Country': ['Belgium','India','Brazil'],
#       'Capital':['Brussels','New Delhi','Brasalia'],
#       'Population':[11190846,1303171035,207847528]}
# df = pd.DataFrame(data,columns=['Country','Capital','Population'])

'''Read and write to csv'''
# df=pd.read_csv('file.csv', header = None, nrows = 5)
# df
# df.to_csv('myDataFrame.csv')


'''read and write to  excel'''
# df = pd.read_excel('file1.xlsx')
# df.to_excel('myDataFrame1.xlsx',sheet_name='Sheet1')


'''read multiple sheets from the same file'''
# xlsx = pd.ExcelFile('file1.xlsx')
# df = pd.read_excel(xlsx,'Sheet1')

'''Read and write to Sql Query or database table'''
# from sqlalchemy import create_engine
# engine = create_engine('sqlite:///:memory:')
# pd.read_sql("SELECT * FROM my_table;",engine)
# pd.read_sql("SELECT * FROM my_table;", engine)
# pd.read_sql_table('my_table', engine)
# pd.read_sql_query("SELECT * FROM my_table;", engine)

'Read and write to Sql Query or database table'

# 3. Asking for Help

In [0]:
import pandas as pd
help(pd.Series.loc)

# 4.Selection

In [0]:
import pandas as pd

'''Get one element'''
# s = pd.Series([3,-5,7,4], index=['a','b','c','d'])
# s['b']

'''get subset of a dataframe'''
# data ={'Country': ['Belgium','India','Brazil'],
#       'Capital':['Brussels','New Delhi','Brasalia'],
#       'Population':[11190846,1303171035,207847528]}
# df = pd.DataFrame(data,columns=['Country','Capital','Population'])
# df[1:]

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasalia   207847528

In [0]:
import pandas as pd

'''Select single value by row and col'''

data ={'Country': ['Belgium','India','Brazil'],
      'Capital':['Brussels','New Delhi','Brasalia'],
      'Population':[11190846,1303171035,207847528]}
df = pd.DataFrame(data,columns=['Country','Capital','Population'])

'''by position'''
# df.iloc[[0],[0]]
# df.iat[0,0]

'''by label'''
# df.loc[[0],['Country'] ]
# df.at[0,'Country']

'''by label/ position'''
# df.ix[2]
# df.ix[:,'Capital']
# df.ix[1,'Capital']


'''Boolean Indexing'''
s = pd.Series([3,-5,7,4], index=['a','b','c','d'])
# s[~(s>1)]
# s[(s<-1)|(s>2)]
df[df['Population']>1200000000 ]

  Country    Capital  Population
1   India  New Delhi  1303171035